:root {
    --bg-color: rgb(29, 29, 29);
    --text-color: rgb(94, 0, 156);
    --rotate-amount: 0deg;
    --spacer-amount: 0px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}


main {
    display: grid;
    grid-template-areas:
        "header header"
        "content content"
        "content content";

    gap: 1.25rem;

    margin-left: 3.5%;
    margin-right: 3.5%;

    position: fixed;
    z-index: 0;
}

#welcomeBanner {
    grid-area: "header"; 

    font-size: 3rem;
    font-family: Changa, sans-serif;

    z-index: 2;
}

#weclcomeBanner p {
    box-shadow: 0.2rem 0.2rem;
}

#content {
    grid-area: "content";

    font-size: 1.75rem;
    font-family: Changa, sans-serif;

    border: solid 0.2rem rgb(87, 87, 87);
    box-shadow: 0.5rem 0.5rem;

    padding: 0.5rem;
}


