:root {
    --bg-color: rgb(51, 51, 51);
    --text-color: rgb(199, 199, 199);
    --angle: 135deg;
}

html {
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    #categories {
        flex-direction: column;
    }
}

#categories div {
    border: solid 1px black;
    border-radius: 1em;
    padding: 5%;
    width: 100px;
    transition: all 250ms;
    text-align: center;
}



